* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-background-base;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: $color-foreground-base;
}

.wrapper {
    padding: 66px 16px 16px 16px;
    max-width: 1200px;
    margin: auto;
}
