$color-background-base: #eeeeee;
$color-background-light: #ffffff;
$color-background-dark: #252525;

$color-foreground-base: #aaaaaa;
$color-foreground-light: #eeeeee;

$color-primary: #673AB7;
$color-accent: #009688;
$color-danger: #F44336;
