<div class="record-form">
    <form name="recordForm" novalidate>
        <label>
            <span class="label">City</span>
            <xx-city-selector value="recordPage.record.city"></xx-city-selector>
        </label>
        <label>
            <span class="label">Date</span>
            <datepicker date-format="dd.MM.yyyy">
                <input ng-model="recordPage.record.date" class="field" name="date" type="text" required="required"/>
            </datepicker>
        </label>
        <label>
            <span class="label">Temperature</span>
            <input class="field" type="number" name="temperature" ng-maxlength="3"
                   ng-model="recordPage.record.temperature" required="required" />
        </label>
        <button class="button-primary" type="button" ng-disabled="recordForm.$invalid || recordPage.disableButton"
                ng-click="recordPage.submit()">
            Submit
        </button>
        <span class="error-message" ng-if="recordPage.error == 'unique'">City and date pair should be unique</span>
    </form>
</div>